
div.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
}
td{
    height: 40px;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
}
ul{
    display: table-cell;
    list-style: none
}
h1{
    text-align: left;
}
.listArticleHead{
    height: 40px;
    color: #000000;
    background-color: rgba(128, 128, 128, 0.53);
}
.listArticle{
    height: 40px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.81);
}
.listAddButton{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
}
.viewTextTitle{
    padding: 5px;
    color: #000000;
    background-color: rgba(128, 128, 128, 0.37);
}
.viewText{
    float: left;
    width: 600px;
}
.viewModify{
    margin-top: 20px;
    float: right;
    margin-right: 10px;
}
.viewDel{
    margin-top: 20px;
    display: inline;
    float: right;
    margin-right: 10px;
}
.viewBack{
    margin-top: 20px;
    float: left;
}
.titleAnchor{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal{
    position:absolute;
    width:100%; height:100%;
    background: rgba(0,0,0,0.8);
    top:0; left:0; display:none;
}

.modal_content{
    width:400px; height:200px;
    background:#fff; border-radius:10px;
    position:relative; top:50%; left:50%;
    margin-top:-100px; margin-left:-200px;
    text-align:center;
    box-sizing:border-box; padding:74px 0;
    line-height:23px; cursor:pointer;
}

.articlePwArea{
    text-align: left; margin-left: 5px;
}

.sessionArea{
    text-align: right; margin-right: 5px;
}

.loginBody {
    justify-content: center;
    align-items: center;
}

.login-form{
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.int-area {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline: none;
}
.signUpBtn{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.loginBtn{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.frm{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}