<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="css/BoardTable.css" rel="stylesheet" type="text/css">
        <title>Title</title>
<!--        <script type="text/javascript" src="js/modifyJs.js"></script>-->
        <script type="text/javascript" src="js/jquery/modifyJquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="modal">
            <div class="modal_content">
                <input id="pwInput" type="password" maxlength="10">
                <input id="pwCheckBtn" type="button" value="확인" onclick="">
                <input type="button" value="취소" onclick="viewBack()">
            </div>
        </div>
        <div class="container">
            <form action="/modifyArticleDb" method="post" name="articleForm">
                <input type="hidden" name="boardNo" id="boardNo">
                <input type="hidden" name="pageNum" id="pageNum">
                <input type="hidden" name="isSecretNum" id="isSecretNum">
                <table>
                        <colgroup>
                            <col style="width: 25%">
                            <col style="width: 70%">
                        </colgroup>
                    <thead>
                        <tr>
                            <td colspan="2">
                                <h1 id="titleHead">조회페이지</h1>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <!--                        <input name="secretCheck" type="radio" value="0" onclick="secretOpenArticle()" checked>공개글-->
                                <!--                        <input name="secretCheck" type="radio" value="1" onclick="secretSecretArticle()">비밀글-->
                                <input id="secretCheck" class="viewJquery" type="checkbox" onclick="secretSecretArticle()">비밀글
                            </td>
                            <td class="articlePwArea">
                                <input id="articlePw" class="viewJquery" type="password" disabled="true" maxlength="8" placeholder="비밀번호" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        <tr>
                            <td class="viewTextTitle"> 작성자 </td>
                            <td>
                                <input class="viewText viewJquery" maxlength='10' type="text" name="writer" id="writer"> <br>
                                <div class="exception" id="writerException">작성자를 입력 하세요</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="viewTextTitle"> 제목 </td>
                            <td>
                                <input class="viewText viewJquery"   maxlength='30' type="text" name="title" id="title"> <br>
                                <div class="exception" id="titleException">제목을 입력 하세요</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea class="viewJquery" style="width:99%; height:10em; resize:none;" name="content" id="content"></textarea><br>
                                <div class="exception" id="contentException">내용을 입력 하세요</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input class="viewModify modifyShow" id="modifyFinishBtn" type="button" value="수정완료" onclick="modifyCheck()">
                <input class="viewModify viewShow" id="modifyBtn" type="button" value="수정" onclick="modifyBtnClick()">
                <input class="viewDel modifyShow" id="delBtn" type="button" value="삭제" onclick="delCheck()">
                <input class="viewBack modifyShow" id="modifyBackBtn" type="button" value="뒤로가기" onclick="historyBack()">
                <input class="viewBack viewShow" id="viewBackBtn" type="button" value="뒤로가기" onclick="viewBack()">
            </form>

        </div>
    </body>
</html>