<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/BoardTable.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery/login.js"></script>
    <title>로그인</title>
</head>

<body class="loginBody">
    <div>
        <h1 onclick="listPage();return false;" >mantaeHomePage</h1>
    </div>
    <h2 class="login-form">Login</h2>
    <form id="frm" name="frm" th:action="@{/login_proc}" method="post">
        <div class="int-area">
            <input id="userId" name="userId" placeholder="아이디" type="text">
        </div>
        <div class="int-area">
            <input id="userPw" name="userPw" placeholder="비밀번호" type="password">
        </div>
        <div class="int-area">
            <div>
                <button class="loginBtn" onclick="loginCheck();return false;"> 로그인 </button>
            </div>
            <div class="signUpBtn">
                <a th:href="@{'/signUp'}">회원가입</a>
            </div>
        </div>
    </form>
</body>




</html>