<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tosky.board2.dao.SchedulingMapper">
    <select id="loginCheck" resultType="map">
        select userId,last_login from user where  date (last_login) = date (date_add(now(),INTERVAL -2 DAY));
    </select>
</mapper>