<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="css/BoardTable.css" rel="stylesheet" type="text/css">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <form action="/modifyArticleDb" method="post">
                <table>
                        <colgroup>
                            <col style="width: 25%">
                            <col style="width: 70%">
                        </colgroup>
                    <thead>
                        <tr>
                            <td colspan="2">
                                <h1>수정페이지</h1>
                                <input type="hidden" th:value="${article.boardNo}" name="boardNo">
                                <input type="hidden" th:value="${pageNum}" name="pageNum">
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="viewTextTitle"> 작성자 </td>
                            <td>
                                <input class="viewText" maxlength='10' type="text" th:value="${article.writer}" name="writer"> <br>
                                <div th:if="${#strings.isEmpty(article.writer)}">작성자를 입력 하세요</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="viewTextTitle"> 제목 </td>
                            <td>
                                <input class="viewText" maxlength='30' type="text" th:value="${article.title}" name="title"> <br>
                                <div th:if="${#strings.isEmpty(article.title)}">제목을 입력 하세요</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea style="width:99%; height:10em; resize:none;" th:text="${article.content}" name="content"></textarea><br>
                                <div th:if="${#strings.isEmpty(article.content)}">내용을 입력 하세요</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="viewModify">
                    <input type="submit" value="수정" style="float: left;margin-right: 10px;">
                </div>
            </form>
            <form type="hidden" action="/deleteArticle" method="post" style="float: left;margin-right: 10px;">
                <div class="viewDel">
                    <input type="hidden" th:value="${article.boardNo}" name="boardNo">
                    <input type="hidden" th:value="${pageNum}" name="pageNum">
                    <input type="submit" value="삭제">
                </div>
            </form>
            <input class="viewBack" type="button" value="뒤로가기" onclick="history.go(-1)">
        </div>
    </body>
</html>